<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article {{ article['id'] }}</title>
</head>
<body>
    <h2>Article {{ article['id'] }} - {{ article['title'] }}</h2>
    <form method="post">
        {% if session['role'] == 'translator' %}
        <h3>Translation</h3>
        {% if not article['ai_translated_en'] %}
            <button name="translate_en">Translate to English</button>
        {% endif %}
        {% if not article['ai_translated_es'] %}
            <button name="translate_es">Translate to Spanish</button>
        {% endif %}
        {% endif %}

        {% if session['role'] == 'reviewer' %}
